{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/contact.css')}}">
{% endblock %}
{% block body %}
<section>
    <div class="container my-5">
        <div class="row">
            <di class="col-3"></di>
            <!-- Blog Entries Column -->
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body bg-darkness">
                        <h1 class="my-4">CONTACT ME.
                            <small>Or die...</small>
                        </h1>
                        <div class="col-12">
                            {{ form_start(form) }}
                            {{ form_widget(form.firstname, { 
                                            "attr": {"class": "form-control my-2", "placeholder": "Firstname"}
                                    }) }}
                            {{ form_widget(form.lastname, { 
                                            "attr": {"class": "form-control my-2", "placeholder": "Lastname"}
                                    }) }}
                            {{ form_widget(form.email, { 
                                            "attr": {"class": "form-control my-2",  "placeholder": "Email"}
                                    }) }}
                            {{ form_widget(form.subject, { "attr": {"class": "form-control my-2", "placeholder": "Subject"} }) }}
                            {{ form_widget(form.content, { "attr": {"class": "form-control my-2", "placeholder": "Message :"} }) }}
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-outline-danger my-4">Sorry Baby</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.container -->
{% endblock %}