{% extends 'base.html.twig' %}

{% block body %}

<div class="container my-5">
    {% for article in articles|reverse %}
    <div class="row my-5 p-5">
        <div class="col-12">
            <div class="media">
                <img src="{{article.picture}}" class="align-self-center mr-3" alt="picture">
                <div class="media-body">
                    <a href="/read/{{article.id}}">
                        <h5 class="mt-0">{{article.title}}</h5>
                    </a>
                    <p>{{article.resume}}</p>
                    <small>
                        {% for tag in article.tags %}
                        <a href="/tag/{{tag.id}}">#{{tag.name}}</a> -
                        {% endfor %}
                    </small>
                    <hr>
                    <p class="float-left mb-0"><a href="/category/{{article.category.id}}"><small>- {{article.category}}
                                -</small></a></p>
                    <p class="float-right mb-0"><small>- {{article.createdAt|date('d/m/Y')}} -</small></p>
                </div>
            </div>
        </div>
        <div class="col-12 comment mt-5">
            {% for comment in article.comments %}
            {% if comment.isValidated == true %}
            <div class="text-justify m-1 p-1 border">
                <p class="font-weight-bold">@{{comment.name}}, write : </p>
                <p class="font-italic">{{comment.content}}</p>
                <p class="font-italic">{{comment.createdAt|date('d/m/Y')}}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-12 text-right mt-5">
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#sendMessage{{article.id}}">
                Write comment
            </button>
            <!-- Modal -->
            <div class="modal fade" id="sendMessage{{article.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Write comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <form method="POST" action="{{ path('send-comment') }}">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" name="article_id"
                                                value={{article.id}}>
                                        </div>
                                        <div class="form-group">
                                            <textarea name="content" class="form-control" rows="10" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="Name : "
                                                required>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}